*{
    box-sizing: border-box;
    font-size: 18px;
}

.d-flex {
    display: flex;
}

.d-block {
    display:block;
}

strong{
    margin-bottom: 10px;
    margin-top: 10px;
}

div.d-flex{
    flex-direction: column;
    align-items: center;
}

body{
    justify-content: center;
    align-items: center;
}

fieldset{
    text-align:center;
    justify-content: center;
}

fieldset > button{
    margin: 15px auto 5px auto;

}

label {
    text-align: left;
    display: block;
    width: 112px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table{
    margin-top: 30px;
}

table, td, th, tr{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

th {
    width: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

input[type="number"]{
    text-align: center;
}